<%= @referral.rating.rating_user.first_name  %> thinks you should meet Bob.
<br>
<img src="http://res.cloudinary.com/dmyvxexqn/image/upload/w_640,h_640/v1446875449/fsfbltuu44fqvt1eki9b.jpg" class="bob-image" />
<br>
Join Concierge to meet Bob and other awesome professionals in SF

<form action="<%= user_registration_url %>" method="post">
  <input type="text" name="user[first_name]" placeholder="First Name"><br>
  <input type="text" name="user[last_name]" placeholder="Last Name"><br>
  <input type="text" name="user[email]" placeholder="Email"><br>
  <input type="text" name="user[linked_in_url]" placeholder="LinkedIn URL"><br>
  <input type="submit" value="Sign Up">
</form>
