/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  width: 100%;
  height: 100vh;
  background-color: #5C6983;
  font-family: 'freight-sans-pro', 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.registration-background-wrapper {
  background: url("http://lookcpm.com/img/slides/paint.jpg") no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;

  min-width: 100%;
  min-height: 100%;
}

.button_to input {
  width: 200px;
  height: 70px;
  background-color: #4d90fe;
  color: #fff;
  font-weight: 700;
  box-sizing: border-box;
  border: 1px solid #3079ed;
  text-align: center;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.modal-content {
  text-align: center;
}

.modal-body {
  display: none;
}

.bob-image {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

#referral-link {
  border: 2px solid gray;
  width: 300px;
  margin: 0 auto;
}

.content-wrapper {
  background-color: #F5F4F4;
  width: 50%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%, -50%);
  border-radius: 10px;
  text-align: center;
}

.content-wrapper > h3 {
  padding-top: 5px;
}

.content-wrapper > img {
  margin-top: 10px;
  margin-bottom: 10px;
}

#star-rate {
  margin-bottom: 10px;
}

#submit-rating {
  margin-bottom: 10px;
}

.sign-up-input {
  box-shadow: rgba(18, 86, 136, 0.34902) 0px 0px 6px 0px;
  box-shadow: 0 0 2px rgba(0,0,0,0.48),0 1px 3px rgba(0,0,0,0.18);
  margin-top: 7px;
  width: 200px;
}

.sign-up-submit {
  margin: 10px 0px;
}
