<h1>Tell Us More About Your Meeting With Bob</h1>

<form id="rating-form">
  <div id="star-rate">XX</div>
  <textarea name="rating[rationale]" rows="8" cols="40"></textarea><br>
  <input type="submit" value="Submit Rating">
</form>
