<div class="rating-content-wrapper">
  <h3>How was your meeting with Bob?</h3>
  <img src="http://res.cloudinary.com/dmyvxexqn/image/upload/w_640,h_640/v1446875449/fsfbltuu44fqvt1eki9b.jpg" class="bob-image" />
  <form id="rating-form">
    <div id="star-rate"></div>
    <textarea name="rating[rationale]" rows="4" cols="25" placeholder="Tell us a bit more..."></textarea>
    <br>
    <button type="button" id="submit-rating" class="btn btn-success">
      Submit Rating
    </button>
  </form>
</div>
