<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Thanks for submitting!</h3>
      </div>
      <div class="modal-body">
        <br>
        Know anyone Bob should know?
        <br>
        <br>
        Tell them to sign up via this link, and we’ll set them up with Bob the next week!
        <br>
        <br>
        <div id="referral-link">
            <a href="<%= linkAddress %>"><%= linkAddress %></a>
        </div>
      </div>
    </div>
  </div>
</div>
